body {
	font-family: 'Noto Sans TC';
	box-sizing: border-box;
	color: #666666;
}
p {
	margin: 0;
	padding: 0;
}
.entireContainer {
	max-width: 1200px;
	margin: 0px auto;
}
.infomationContainer__title {
	font-weight: 700;
	margin: 46px 0px 35px 0px;
}
.infomationContainer__selectedName {
	color: #448899;
	font-weight: 700;
	font-size: 16px;
}
.infomationContainer__selectedInfo,
.contactContainer__title,
.paymentContainer__title,
.contactContainer__remindText,
.submitContainer__totalPrice {
	font-weight: 700;
}
hr {
	border: 1px solid #e8e8e8;
}
input {
	background: #ffffff;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}
.contactContainer_inputData,
.paymentContainer__title,
.contactContainer__remindText,
.submitContainer__totalPrice {
	font-size: 16px;
}
.contactContainer__title,
.paymentContainer__title {
	margin: 44px 0px 24px;
}
.contactContainer__remindText {
	margin-top: 5px;
	margin-bottom: 45px;
}
.submitContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.submitContainer__button {
	background: #448899;
	border-radius: 5px;
	width: 173px;
	height: auto;
	padding: 10px 20px;
	color: #ffffff;
	font-weight: 400;
	font-size: 19px;
	margin-bottom: 62px;
}
.submitContainer__totalPrice {
	margin: 43px 0px 25px;
}
.infomationContainer__selectedInfo--container {
	margin-left: 22px;
}
footer {
	margin-top: 0px;
}
#selected_date,
#selected_time,
#selected_fee,
#selected_place {
	font-weight: 400;
}
.infomationContainer_selectedAttractionImg {
	width: 100%;
}
.infomationContainer {
	display: flex;
	margin: 35px 0px 40px;
}
.attraction_image--container {
	max-width: 340px;
	height: 256px;
	display: flex;
	justify-content: center;
}
.infomationContainer__selectedName {
	margin-bottom: 30px;
	margin-top: 7px;
}
.infomationContainer__selectedInfo {
	margin-bottom: 20px;
}
.entireContainer {
	margin: 0px 10px;
}
@media (max-width: 500px) {
	.infomationContainer {
		flex-direction: column;
	}
	.infomationContainer__selectedInfo--container {
		margin-left: 0px;
	}
	.infomationContainer__title {
		margin-bottom: 0px;
	}
}
