body {
	font-family: 'Noto Sans TC';
	box-sizing: border-box;
	color: #666666;
}
p {
	margin: 0;
	padding: 0;
}
.entireContainer {
	max-width: 1200px;
	margin: 0px auto;
}
.infomationContainer__title {
	font-weight: 700;
	margin: 46px 0px 35px 0px;
}
.infomationContainer__selectedName {
	color: #448899;
	font-weight: 700;
	font-size: 16px;
}
.infomationContainer__selectedInfo,
.contactContainer__title,
.paymentContainer__title,
.contactContainer__remindText {
	font-weight: 700;
}
hr {
	border: 1px solid #e8e8e8;
}
input {
	background: #ffffff;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}
.contactContainer_inputData,
.paymentContainer__title,
.contactContainer__remindText {
	font-size: 16px;
}
.contactContainer__title,
.paymentContainer__title {
	margin: 44px 0px 24px;
}
.contactContainer__remindText {
	margin-top: 5px;
	margin-bottom: 45px;
}
.third_line {
	margin-top: 25px;
	margin-bottom: 180px;
}
