body {
	font-family: Noto Sans TC;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
.container {
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}
a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #448899;
}
header > .container {
	display: flex;
	padding: 10px 0px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e8e8e8;
}
header {
	background-color: #ffffff;
	position: sticky;
	top: 0px;
	z-index: 99;
}
.title {
	font-size: 30px;
	font-weight: bold;
	color: #448899;
	justify-content: flex-start;
}
.plan,
.signin {
	font-size: 16px;
	color: #666666;
	justify-content: flex-end;
	margin: 10px;
	border: none;
	background-color: white;
	padding: 0px;
	font-weight: 700;
	cursor: pointer;
}
.header-container {
	display: flex;
	right: 0px;
	top: 0px;
}
.banner {
	position: relative;

	background: linear-gradient(135deg, #aaddee 0%, #66aabb 100%);
}
.banner-content {
	position: relative;
	padding: 85px 0;
}
.banner-content > * {
	position: relative;
	z-index: 1;
}
.banner-content::before {
	content: '';
	background-image: url('/static/welcome1.png');
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: -138px;
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none;
}
.banner-title {
	color: #f8f8f8;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 15px;
}
.banner-text {
	font-size: 16px;
	color: #f8f8f8;
	margin-bottom: 25px;
}
.banner form {
	display: inline-flex;
	width: 460px;
}
.banner input,
.banner input::placeholder {
	color: #757575;
	font-weight: bold;
	font-size: 16px;
}
.banner input {
	padding: 15px;
	border: none;
	border-radius: 6px 0 0 6px;
	width: 100%;
}
.banner button {
	border: none;
	background: #448899;
	padding: 8px 15px;
	border-radius: 0 6px 6px 0;
	cursor: pointer;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 45px 0px;
	position: relative;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	background: #757575;
	bottom: 0px;
	width: 100%;
	margin-top: 55px;
}
.image-data {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
	max-width: 1200px;
	margin: auto;
	padding-top: 50px;
}
.image-container {
	width: 100%;
	height: 160px;
	display: flex;
	align-items: center;
}
.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.name {
	background: #ffffff;
	padding: 12px 10px 7px;
	margin: 0;
	bottom: 0;
	color: #757575;
	font-weight: bold;
	font-size: 16px;
	position: relative;
	z-index: 1;
}
.address {
	color: #757575;
	font-size: 16px;
	bottom: 0px;
	margin: 0px;
	z-index: 1;
}
.catergory {
	color: #757575;
	font-size: 16px;
}
.intro-container {
	display: flex;
	justify-content: space-between;
	padding: 8px 10px 12px;
	position: relative;
	z-index: 1;
	background: white;
}
.grid-container {
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	overflow: hidden;
	height: 100%;
}
.none {
	display: none;
}
@media (max-width: 600px) {
	.image-data {
		grid-template-columns: 1fr 1fr;
		width: 90%;
	}
	.banner-content::before {
		width: 81%;
		height: auto;
		position: absolute;
		left: auto;
		right: -64px;
		background-position: right bottom;
	}
	.banner input {
		width: 230px;
	}
}
@media (max-width: 400px) {
	.image-data {
		grid-template-columns: 1fr;
	}
	.container {
		padding-left: 10px;
		padding-right: 10px;
		overflow: hidden;
	}
	.banner-content {
		padding: 65px 0;
	}
}

/* The Modal (background) */
.modal,
.register-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 80px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	background: #ffffff;
	margin: auto;
	padding: 0px;
	box-shadow: 0px 4px 60px #aaaaaa;
	border-radius: 6px;
	width: 340px;
	height: 275px;
	position: relative;
}
.decorator-bar {
	height: 10px;
	background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
	border-radius: 5px 5px 0px 0px;
	padding: 0px;
	margin: 0px;
}
.modal-title {
	color: #666666;
	font-weight: 700;
	font-size: 24px;
	margin: 15px;
	display: flex;
	justify-content: center;
}
.input_format {
	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 5px;
	width: 310px;
	height: 47px;
	margin: 0px 15px 10px 15px;
	padding: 15px;
	font-weight: 400;
	font-size: 16px;
	color: #666666;
}
.modal-submit {
	background: #448899;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 400;
	font-size: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	margin: 0px 15px;
	border: none;
	width: 310px;
	height: 47px;
	cursor: pointer;
}
.return-register,
.return-signin {
	color: #666666;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	margin: 5px 15px 15px;
	justify-content: center;
	cursor: pointer;
}
.register-content {
	width: 340px;
	height: 332px;
	background: #ffffff;
	margin: auto;
	padding: 0px;
	box-shadow: 0px 4px 60px #aaaaaa;
	border-radius: 6px;
	position: relative;
}
.close {
	background-image: url('/static/icon_close.svg');
	background-repeat: no-repeat;
	background-position: center;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 17px;
	cursor: pointer;
}
.new_message {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	color: red;
	font-weight: 600;
}
.success_message {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	color: green;
	font-weight: 600;
}
