<!DOCTYPE html>
<html>
<head>
    <title>Taipei Trip </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='attraction.css')}}">
</head>
<body>
    <header class="container">
        <a class="title">台北一日遊</a>
        <div class="header-container">
            <a class="plan">預定行程</a> <a class="signin">登入/註冊</a>
        </div>
    </header>
    
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
    <script src="/static/attraction.js"></script>
</body>
</html>