{% extends "layout.html" %} {% block head %} {{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='booking.css')}}" />
{% endblock %} {% block content %}
<div class="bodyContainer">
	<div class="entireContainer">
		<div class="informationContainer__title" id="title_username"></div>
		<div id="entire_information">
			<div class="informationContainer">
				<div class="attraction_image--container">
					<p id="loader"></p>
					<img id="attraction_image" />
				</div>
				<div class="informationContainer__selectedInfo--container">
					<p
						class="informationContainer__selectedName"
						id="attraction_name"
					></p>
					<p class="informationContainer__selectedInfo">
						日期：<span id="selected_date"></span>
					</p>
					<p class="informationContainer__selectedInfo">
						時間：<span id="selected_time"></span>
					</p>
					<p class="informationContainer__selectedInfo">
						費用：<span id="selected_fee"></span>
					</p>
					<p class="informationContainer__selectedInfo">
						地點：<span id="selected_place"></span>
					</p>
				</div>
				<div id="delete_button" onclick="deleteBooking()"></div>
			</div>
			<hr />
			<div class="contactContainer">
				<p class="contactContainer__title">您的聯絡資訊</p>
				<p>
					聯絡姓名：<input
						class="contactContainer_inputData"
						type="text"
						name="name"
						required
						id="contact_name"
					/>
				</p>
				<p>
					連絡信箱：<input
						class="contactContainer_inputData"
						type="text"
						inputmode="email"
						name="email"
						required
						id="contact_email"
					/>
				</p>
				<p>
					手機號碼：<input
						class="contactContainer_inputData"
						type="tel"
						inputmode="numeric"
						name="phone_number"
						required
						id="phone_number"
						value="12345678"
						onkeypress="return checkDigit(event)"
					/>
				</p>
				<p class="contactContainer__remindText">
					請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。
				</p>
			</div>
			<hr />
			<div class="paymentContainer">
				<div id="creditCard_input" class="paymentContainer__title">
					信用卡付款資訊
				</div>
				<label class="paymentContainer__details"
					>卡片號碼：
					<div class="tpfield" id="card-number"></div>
					<p style="display: none" class="tick" id="number_tick">&#10004;</p>
					<p style="display: none" class="cross" id="number_cross">&#10006;</p>
				</label>
				<label class="paymentContainer__details"
					>過期時間：
					<div class="tpfield" id="card-expiration-date"></div>
					<p style="display: none" class="tick" id="expiry_tick">&#10004;</p>
					<p style="display: none" class="cross" id="expiry_cross">
						&#10006;
					</p></label
				>
				<label class="paymentContainer__details"
					>驗證密碼：
					<div class="tpfield" id="card-ccv"></div>
					<p style="display: none" class="tick" id="ccv_tick">&#10004;</p>
					<p style="display: none" class="cross" id="ccv_cross">
						&#10006;
					</p></label
				>
				<b style="display: none" id="return_message"></b>
			</div>
			<hr />
			<div class="submitContainer">
				<p class="submitContainer__totalPrice" id="total_price"></p>
				<p id="connecting_loader"></p>
				<input
					class="submitContainer__button"
					type="submit"
					id="submit_button"
					onclick="onClick()"
					value="確認訂購並付款"
				/>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block script %}
<script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
<script src="../static/booking.js"></script>
{% endblock %}
