{% extends "layout.html" %} {% block content%}
<div class="banner">
	<div class="container">
		<div class="banner-content">
			<div class="banner-title">輕鬆享受台北一日悠閒</div>
			<div class="banner-text">探索每個角落，體驗城市的深度旅遊行程</div>
			<form id="search-form">
				<input
					id="keyword"
					name="keyword"
					type="text"
					placeholder="輸入景點名稱查詢"
					required
				/>
				<button type="submit">
					<img src="/static/icon_search.svg" />
				</button>
			</form>
		</div>
	</div>
</div>
<a class="container image-data" id="image-data"></a>
{% endblock %} {% block script %}
<script src="/static/index.js"></script>
{% endblock%}
