{% extends "layout.html" %} {% block head %} {{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='thankyou.css')}}" />
{% endblock %} {% block content %}
<div class="bodyContainer">
	<div class="thankyouTitle">行程預定成功!</div>
	<div class="imgContainer">
		<img src="../static/images/check-circle.svg" />
	</div>
	<div class="order_number" id="order_number">訂單編號：</div>
	<div>請記住此編號，或到會員中心查詢歷史訂單</div>
	<button id="continue_plan" onclick="backHome()">計畫其他行程</button>
</div>
{% endblock %} {% block script %}
<script src="../static/thankyou.js"></script>
{% endblock %}
